[Unit]
Description=Notes Browser Next.js Frontend
After=network.target

[Service]
Type=simple
User=alanzoppa
WorkingDirectory=/Users/alanzoppa/Code/notes-browser/frontend
ExecStart=/Users/alanzoppa/Code/notes-browser/frontend/node_modules/.bin/next start --port 3000
Environment=NODE_ENV=production
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target